.wrapper {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(551, 81, 190, 0.4),
      rgba(283, 264, 280, 0.4)
    ),
    url(../../img/images.jpg);
  background-repeat: no-repeat;
}

.title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 35px;
background: linear-gradient(to right, #520b0b, #46041b, #09941c, #cbfc45) 47% 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(to right, #7f0341, #49041d, #f1f506, #73ba10) 47%
    0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info {
  font-size: 20px;
  color: var(--secondaryTextColor);
}
